.ui-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #ffffff;
  
  z-index: 1;

  > :first-child {
    margin-bottom: 20px;
  }

  .section {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .id {
    text-align: center;
  }
}